<form class="statement">
    <h6 class="text-secondary " style="padding-left: 20px;padding-top:15px">last 5 transactions</h6>
      <h5>Bank Statement</h5>
      <div class="container">

          <table class="table">
              <thead class="thead">
                  <tr>
                      <th scope="col">Sr.no</th>
                      <th scope="col">Date</th>
                      <th scope="col">Trans.Id</th>
                      <th scope="col">Description</th>
                      <th scope="col">Credit</th>
                      <th scope="col">Debit</th>
                      <th scope="col">Total</th>
                  </tr>
              </thead>
              <tbody class="tbody">
                  <tr>
                      <th>1</th>
                      <td>23-09-22</td>
                      <td>Bkid123</td>
                      <td>UPI tran by tushar</td>
                      <td>500</td>
                      <td>-</td>
                      <td>500</td>
                  </tr>
                  <tr>
                      <th>2</th>
                      <td>23-09-22</td>
                      <td>Bkid145</td>
                      <td>UPI tran by rushab</td>
                      <td>-</td>
                      <td>500</td>
                      <td>500</td>
                  </tr>
                  <tr>
                      <th>3</th>
                      <td>23-09-22</td>
                      <td>Bkid786</td>
                      <td>UPI tran by ashish</td>
                      <td>500</td>
                      <td>-</td>
                      <td>500</td>
                  </tr>
          </table>
      </div>
  </form>
