<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
  style="background-image: linear-gradient( 183.5deg,  rgba(244,173,6,1) 18.6%, rgba(229,251,31,1) 119.9% );"
>
  <div class="container">
    <a class="navbar-brand text-dark" href="#"><strong>First-SBA</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
    >
      <ul class="navbar-nav flex-grow-1 text-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="main">main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/feedback">Feedback</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav text-dark">
    <li class="nav-item dropdown list-unstyled text-dark">
      <a
        class="nav-link dropdown-toggle T"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"

      >
       Create Account
      </a>
      <ul class="dropdown-menu bg-dark text-warning" aria-labelledby="navbarDropdownMenuLink">

          <a routerLink="/register" class="text-decoration-none text-warning dropdown-item "
            ><span class="glyphicon glyphicon-user"></span
            > Sign up</a
          >

            <hr/>

          <a routerLink="/login" class="text-decoration-none text-warning dropdown-item "
            ><span class="glyphicon glyphicon-log-in"></span
            > Login</a
          >

            </ul>
    </li>
</ul>
  </div>
</nav>