.registerImage{
    border-radius: 40%;
    padding-top: 8em;
    width: 80%;
    padding-left: 4em;
}

.account-form-wrapper {
    padding: 2em 0;
  }
  
  .account-form {
    padding: 10px 70px;
    background-color: #e4db8c;
    border-radius: 12px;
    max-width: 400px;
    background-repeat: no-repeat;
  }
  
  .account-form textarea {
    resize: none;
  }
  
  .account-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }

  .animate__animated.animate__flash {
    --animate-duration: 5s;
    --animate-delay: 0.9s;
  }