<!-- <section class="container-fluid forms">
    <div class="form login">
        <div class="form-content">
            <h2>Login</h2>
            <form #form='ngForm'>
                <div class="field input-field">
                    <input type="email" #Email="ngModel" name="Email"[(ngModel)]="formModel.Email" placeholder="Email" class="input">
                    <i class="bi bi-envelope email-icon"></i>
                </div>

                <div class="field input-field">
                    <input type="password" #Password="ngModel" name="Password"[(ngModel)]="formModel.Password" placeholder="Password" class="password">
                    <i class="bi bi-eye-slash eye-icon"></i>
                </div>

                
                <div class="field">
                    <button type="submit" [disabled]="form.invalid">Login</button>
                </div>
            </form>
            
            <div class="form-link">
                <span>Don't have an account? <a routerLink="/register" class="link signup-link">Signup</a></span>
            </div>
            <div class="form-link">
                <a routerLink="/forgetpassword" class="forgot-pass">Forgot password?</a>
            </div>
        </div>
    </div>

    </section> -->
