<!-- <section class="vh-100" style="/* Created with https://www.css-gradient.com */
background: rgba(119, 119, 119, 1.0);
background: -webkit-linear-gradient(top left, rgba(119, 119, 119, 1.0), rgba(204, 204, 204, 1.0));
background: -moz-linear-gradient(top left, rgba(119, 119, 119, 1.0), rgba(204, 204, 204, 1.0));
background: linear-gradient(to bottom right, rgba(119, 119, 119, 1.0), rgba(204, 204, 204, 1.0));">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="/assets/Images/bhanu.jpg"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 11.5em; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">Bhanu Bediya</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">Software Engineer</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Company</p>
                      <p class="mb-0">Mastek</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Experience</p>
                      <p class="mb-0">6 months</p>
                    </div>
                    
                  </div>
                  <div>
                    <i>A skilled Developer with great communication and problem-solving skills.</i>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="/assets/Images/akshay.jpeg"
                    alt="Generic placeholder image" class="img-fluid"
                    style="width: 11.5em; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  <h5 class="mb-1">Akshay Wahile</h5>
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">Software Engineer</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                    style="background-color: #efefef;">
                    <div>
                      <p class="small text-muted mb-1">Company</p>
                      <p class="mb-0">Mastek</p>
                    </div>
                    <div class="px-3">
                      <p class="small text-muted mb-1">Experience</p>
                      <p class="mb-0">6 months</p>
                    </div>
                    
                  </div>
                  <div>
                    <i>A skilled Developer with great communication and problem-solving skills.</i>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section> -->



<div class="container shadow">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3 class="text-secondary">Our Creative Team-<span class="text-black-50"> B</span></h3>
              <p>The Developers of First-SBA Project.</p>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img style="width: 17.2em;" src="/assets/Images/bhanu.jpg" alt="">
                <!-- Social Info-->
                <div class="social-info">Mastek</div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Bhanu Bediya</h6>
                <p class="designation">Software Engineer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/akshay.jpeg" alt="">
                <!-- Social Info-->
                <div class="social-info">Mastek</div>              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Akshay Wahile</h6>
                <p class="designation">Software Engineer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/akash.jpeg" alt="">
                <!-- Social Info-->
                <div class="social-info">Mastek</div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Akash Rajak</h6>
                <p class="designation">Software Engineer</p>
              </div>
            </div>
          </div>
          <!-- Single Advisor-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/sourabh.png" alt="">
                <!-- Social Info-->
                <div class="social-info">Mastek</div>
              </div>
              <!-- Team Details-->
              <div class="single_advisor_details_info">
                <h6>Sourabh Waghmare</h6>
                <p class="designation">Software Engineer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img style="width: 17.2em;height: 17em;" src="/assets/Images/swaraj.jpeg" alt="">
                  <!-- Social Info-->
                  <div class="social-info">Mastek</div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                  <h6>Swaraj Mehunkar</h6>
                  <p class="designation">Software Engineer</p>
                </div>
              </div>
            </div>
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/akshay.jpeg" alt="">
                  <!-- Social Info-->
                  <div class="social-info">Mastek</div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                  <h6>Akshay Wahile</h6>
                  <p class="designation">Software Engineer</p>
                </div>
              </div>
            </div>
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/akash.jpeg" alt="">
                  <!-- Social Info-->
                  <div class="social-info">Mastek</div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                  <h6>Akash Rajak</h6>
                  <p class="designation">Software Engineer</p>
                </div>
              </div>
            </div>
            <!-- Single Advisor-->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img style="width: 18em;height: 17em;" src="/assets/Images/sourabh.png" alt="">
                  <!-- Social Info-->
                  <div class="social-info">Mastek</div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                  <h6>Sourabh Waghmare</h6>
                  <p class="designation">Software Engineer</p>
                </div>
              </div>
            </div>
          </div>
      </div>
     