<div class="container overflow-hidden">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12  " > 
       <div class="information ">
            <h4 class=" animate__animated animate__flipInX">First-SBA welcomes you to new <span class="text-info"><i>SBA- Family</i></span>. A Bank that treats you as our family member. Yes, you read it right!</h4>
    <h4 class="text-black-50 animate__animated animate__flipInX">We as a Bank promise to bring a smile on your face by keeping your hard earned wealth safe and sound with us.</h4> 
    <h4 class="text-black-50 animate__animated animate__flipInX">Not only this but we promise to give you premium services with our top notch <span><i><a routerLink="/" class="text-decoration-none text-warning">Products</a></i></span> that will blow your mind..</h4> 
</div>   
</div>
<div class="col-lg-6 col-md-6 ">
    <div class="example ">
        <img  class="background-image bing animate__animated animate__bounceInUp box-shadow" src="/assets/Images/bg.png">
        <div class="overlay">
            <img src="/assets/Images/cash.png" class="bank-img animate__animated animate__bounceInDown " alt="bank image">
        </div> 
      </div>
    
</div>
</div>
        <div data-aos="zoom-out-up" class="pb-5 pt-5 text-center">
        
      <h2 class="shadow p-3 mb-4 bg-light "> <i class="text-secondary "><span class="text-warning">First-SBA</span>- <q>The Bank that won't let you down.</q></i></h2>
    </div> 
    <div class="d-inline-flex justify-content-around " data-aos="zoom-in-down">
        <img src="/assets/Images/bank1.jpg" class="w-25 rounded-bottom rounded-top shadow p-3 mb-5 bg-white " alt="">
        <img src="/assets/Images/bank2.jpg" class="w-25 rounded-bottom rounded-top shadow p-3 mb-5 bg-white " alt="">
        <img src="/assets/Images/bank3.jpg" class="w-25 rounded-bottom rounded-top shadow p-3 mb-5 bg-white " alt="">
    </div>

      
</div>