<div class="container">
    <div class="row">
        <div class="col-6">
        <!-- <h2 class="text-warning slogan text-center pb-2" >First-SBA </h2>
            <i class="text-white" style="padding-left: 6em;">- The Bank that won't let you down.</i> -->
       <div class="information">
            <p class="text-white">First-SBA welcomes you to new <span class="text-info"><i>SBA- Family</i></span>. A Bank that treats you as our family member. Yes, you read it right!</p>
    <p class="text-white">We as a Bank promise to bring a smile on your face by keeping your hard earned wealth safe and sound with us.</p> 
    <p class="text-white">Not only this but we promise to give you premium services with our top notch <span><i><a routerLink="/" class="text-decoration-none text-warning">Products</a></i></span> that will blow your mind..</p> 
</div>   
</div>
        <div class="col-6">
            <div class="example">
                <img  class="background-image bing" src="/assets/Images/bg.png">
                <div class="overlay">
                    <img src="/assets/Images/cash.png" class="bank-img" alt="bank image">
                </div>
              </div>
        </div>
      </div>
</div>