.information{
    padding-top: 5em;
    font-family:Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    
}

.information>h4{
    padding-top: 1em;
  }
.bank-img {
  
}


.example img {
  padding-top: 6em;
    width:100%;
  }
  
  
  @media (max-width: 480px) {
    .information{
      padding-top: 2em;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
  }
  
  .information>h4{
      padding-top: 0.5em;
      font-size: 0.6em;
      
  
  }
  
  .bank-img {
    padding-top: 1em;
   
    
  }
  
  
  .example img {
     
  
      
    }
    
    .example .overlay {
      
    }
}

  @media (min-width: 481px) and (max-width: 767px) {
    .information{
      padding-top: 2em;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
  }
  
  .information>h4{
      padding-top: 0.5em;
      font-size:1em;
      width: 30%;
  
  }
  
  .bank-img {
    padding-top: 2em;
   
    max-width: 33%;
  }
  
  
  .example img {
      width: 50%;
      text-align: left;
      position: relative;
    }
    
    .example .overlay {
      position: absolute;
      top: 80px;
      right: 4em;
      font-weight: bold;
      text-align: right;
      font-size: 25px;
    }
}