.registerImage{
    border-radius: 30%;
    padding-top: 3em;
    width: 90%;
    padding-left: 2em;
}

.account-form-wrapper {
    padding: 1em 0;
  }
  
  .account-form {
    padding: 30px 40px;
    background-image: linear-gradient(135deg, #FFE000 10%, #799F0C 100%);
    border-radius: 12px;
    max-width: 500px;
    background-repeat: no-repeat;
  }
  
  .account-form textarea {
    resize: none;
  }
  
  .account-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }

           
           
           
          
           
  .btn-grad {
    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%);
   
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 
 
 
 